services:
  prestart:
    volumes:
      - ./app:/app/app
      - ./scripts:/app/scripts
      - ./prestart:/app/prestart
      - ./alembic.ini:/app/alembic.ini
      - ./pyproject.toml:/app/pyproject.toml
      - ./uv.lock:/app/uv.lock
      - ./.env:/app/.env

  app:
    volumes:
      - ./app:/app/app
      - ./scripts:/app/scripts
      - ./tests:/app/tests
      - ./alembic.ini:/app/alembic.ini
      - ./pyproject.toml:/app/pyproject.toml
      - ./uv.lock:/app/uv.lock
      - ./.env:/app/.env
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
    depends_on:
      prestart:
        condition: service_completed_successfully
    restart: no
